[updateserver]
url = domain/api
[server]
auth =  http://192.168.5.79:8080/smartapi/accountbasic
session_create =  http://192.168.5.79:8080/smartapi/group/2/session/%s
session_update = http://192.168.5.79:8080/smartapi/group/2/session/%s
case_update = http://192.168.5.79:8080/smartapi/session/%s/case
file_upload = http://192.168.5.79:8080/smartapi/session/%s/case/%s/file
[account]
username = test
password = 123456



