[updateserver]
url = domain/api

[server]
auth =  http://192.168.4.137:8080/smartapi/accountbasic
session_create =  http://192.168.4.137:8080/smartapi/group/1/session/%s
session_update = http://192.168.4.137:8080/smartapi/group/1/test/%s/update
case_update = http://192.168.4.137:8080/smartapi/session/%s/case
file_upload = http://192.168.4.137:8080/smartapi/session/%s/case/%s/file

[account]
username = test
password = 123456

[device]
product = bkb
revision = 201402251420
deviceid = med123456789
planname = plan
screen_width = 800
screen_height = 1024



